body {
    background: linear-gradient(to right, #f2f2f2, #e0e0e0);
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease-in-out;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fade-out {
    opacity: 1; 
  }
  
  .fade-in {
    opacity: 1; 
  }
