*{
    padding: 0;
    margin: 0;
}
/*Main Body*/
.container-1{
    height: 800px;
    background: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

/*Top Text and Button*/
.top-text {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.test-yourself-button {
    margin-right: 5%;
    border-radius: 20px;
    border: none;
    background: #40C79E;
    font-size: 15px;
    padding: 10px 50px;
}
.top-title{
    margin-left: 20px;
    font-size: 50px;
    transition:  .5s ease;
}
.top-title.shifted {
    margin-left: 250px; /* Adjust this based on the side menu width */
}


/*Courses Header*/
.courses-header{
    width: 100%;
    height: 50px;
    background: black;
    padding-left: 1%;
    padding-top: 1%;
}


/*Side menu*/
.container-1 div.side-menu{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    position: absolute;
    width: 250px;
    top: 0px;
    height: 98vh;
    background: black;
    padding-top: 1%;
    left: -250px;
    transition: left 0.3s ease;
}
.container-1 div.side-menu ul{
    list-style: none;
}
.container-1 div.side-menu li{
    margin-bottom: 50px;
    width: 200px;
    color: white;
    padding: 10px;
    position: relative;
    padding-left: 20%;
}
.container-1 div.side-menu li::before{
    content: '';
    position: absolute;
    width: 260px;
    left: -20px;
    bottom: 0;
    height: 1px;
    background-color: white;
    
}
.container-1 div.side-menu li::after{
    content: '';
    background: #40C79E;
    position: absolute;
    width: 10px;
    right: 0;
    height: 25px;
    display: none;
}
.container-1 div.side-menu li:hover::after{
    display: inline;
}
.container-1 div.side-menu li:hover{
    background: rgba(235, 235, 235, 0.50);
}
.container-1 div.side-menu img{
    position: relative; 
    height: 50px;
    margin-bottom: 60px;
    margin-left: 5%;
}
.side-menu div.side-menu-topside{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.side-menu div.side-menu-topside img.exit{
    height: 20px;
    position: relative;
    right: 20px;
}

/*Container 2*/
.container-2{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    gap: 20px;
    position: relative;
}
.container-2 div{
    height: 300px;
    width: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #40C79E;
}
/*Course contents*/
.container-2 div.course-photo{
    height: 200px;
    background: gray;
}
.container-2 div h5{
    padding-left: 30px;
    font-size: 25px;
}