*{
    margin: 0;
    padding: 0;
}

/*Main body*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: black;
    height: 950px;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
}
.flex-container img{
    height: 300px;
}

/*Header*/
.flex-container div.header-div{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.flex-container div.header-div img{
    height: 90px;
}
.flex-container div.header-div img.exit-button{
    height: 30px;
    position: absolute;
    right: 0;
}

/*Content*/
.content-div{
    display: flex;
    align-self: center;
    width: auto;
    padding: 1%;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid #40C79E;
    border-radius: 20px;
}
.content-div div.content-div1and2{
    min-width: 750px;
    height:auto;
    margin-right: 20px;
}
.content-div div.content-div1and2 div.div-1{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background: transparent;
}
.content-div div.content-div1and2 div.div-1 img{
    width: 800px;
    height: auto;
    position: relative;
    top: 70px;
    left: 20px;
}
.content-div div.content-div1and2 div.div-2{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background: white;
}
.content-div div.content-div1and2 div.div-2 p{
    font-size: 30px;
    text-align: justify;
    padding-left: 10%;
    padding-top: 4%;
}


.content-div div.content-div3and4{
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}
.content-div div.content-div3and4 div.div-3{
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    background: transparent;
}
.content-div div.content-div3and4 div.div-3 img{
    width: 42vh;
    height: auto;
}
.content-div div.content-div3and4 div.div-4{
    width: 400px;
    height: 300px;
}
.content-div div.content-div3and4 div.div-4 p{
    color: white;
    font-size: 20px;
}

.content-div div.content-div5{
    width: 350px;
    height: 620px;
    background: #40C79E;
    border-radius: 20px;
}
.content-div div.content-div5 h1{
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 4%;
}
.content-div div.content-div5 ul li{
    padding-left: 5%;
    list-style-position: inside;
    font-size: 20px;
    color: white;
}