body {
    font-family: 'Lato', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 350px;
    padding: 20px;
    background: linear-gradient(to right, rgb(2, 13, 0), rgb(16, 16, 16));
    border-radius: 10px;
}

.display {
    width: 95%;
    height: 60px;
    background-color: #000;
    border: none;
    text-align: right;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.button {
    height: 50px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #505050;
    color: #fff;
}

.button.operator {
    background-color: #f39c12;
}

.button.equal {
    background-color: #f39c12;
    grid-column: span 2;
}

.button.zero {
    grid-column: span 2;
}

.back-container {
    margin-top: 20px;
 

}

.button.back {
    background-color: #04AA6D;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    font-weight: bold;
    border-radius:20px;
}

.content {
    margin-left: 20px; /* Add space for the navigation bar */
    padding: 16px;
    color: #ffffff;
    width: 968px;
}

.button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    background-color: #447c69;
}