body {
    font-family: 'Lato', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 350px;
    padding: 20px;
    background: linear-gradient(to right, rgb(2, 13, 0), rgb(16, 16, 16));
    border-radius: 10px;
}

.display {
    width: 95%;
    height: 60px;
    background-color: #000;
    border: none;
    text-align: right;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}



.button.operator {
    background-color: #f39c12;
}

.button.equal {
    background-color: #f39c12;
    grid-column: span 2;
}

.button.zero {
    grid-column: span 2;
}


  

.content {
    margin-left: 20px; /* Add space for the navigation bar */
    padding: 16px;
    color: #ffffff;
    width: 968px;
}

.button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    background-color: #447c69;
}