body {
    font-family: 'Lato', sans-serif;
    background: rgb(13,13,13);
    background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(61,61,61,1) 73%, rgba(68,124,105,1) 100%);
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-bottom:50px;
}

@keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End at normal position */
    }
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation: transitionIn 0.75s;
}

header {
    text-align: center; 
    color: #3fbf99;
    margin-bottom: 40px;
    animation: transitionIn 0.75s;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #3fbf99;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: transitionIn 0.75s;
}

header h1 span {
    color: #ffffff;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 73%, rgba(73,91,85,1) 100%);
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    padding: 30px;
    animation: transitionIn 0.75s;
}

.box {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    animation: transitionIn 0.75s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #2d2d2d;
}

.box h2 {
    color: #3fbf99;
    margin-bottom: 10px;
}

.box p, .box ul, .box pre {
    font-size: 16px;
    line-height: 1.6;
}

pre {
    background-color: #222;
    color: #3fbf99;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    animation: transitionIn 0.75s;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

.conclusion {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.conclusion h2 {
    color: #3fbf99;
    margin-bottom: 20px;
}

.conclusion p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.keywords-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 73%, rgba(73,91,85,1) 100%);
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    padding: 30px;
}

.keyword-box {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    text-align: center;
}

.keyword-box:hover {
    transform: scale(1.05);
    background-color: #2d2d2d;
}

.keyword-box h3 {
    color: #3fbf99;
}

.form-syntax {
    margin-top: 40px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.form-syntax pre {
    background-color: #222;
    color: #3fbf99;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}

.form-method, .form-action {
    margin-top: 20px;
}

.form-method h3, .form-action h3 {
    color: #3fbf99;
}

@media screen and (max-width: 768px) {
    .content-grid, .keywords-section {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 36px;
    }

    p.note::before {
        content: "NOTE";
        display: inline-block;
        background-color: #3fbf98; 
        color: white; 
        padding: 2px 4px;
        margin-right: 10px;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }

    p.note {
        background: rgb(13,13,13);
        background: linear-gradient(90deg, rgba(13,13,13,1) 0%, rgba(61,61,61,1) 73%, rgba(68,124,105,1) 100%);
        padding: 10px;
        border-radius: 5px;
        font-family: Georgia, serif;
        text-align: center;
        font-style: italic;
    }
}